{% extends 'base.html' %}
{% load static %}
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Contact Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Contact Us</a></p>
						</div>	
					</div>
				</div>
			</section>
      <!-- End banner Area -->	
      	  

      <!-- Start contact-page Area -->
      {% if message_name %}
        <br/><br/>
        <center>
          <h2> Thanks {{message_name}}!</h2>
          <p>We receive your email, We will respond sortly</p>
        </center>	
        <br/><br/>	

      {% else %}
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
            <!-- <div class="map-wrap" style="width:100%; height: 445px;" id="map"></div> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.140629727734!2d77.56903037531951!3d12.967352396149366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1596618475729!5m2!1sen!2sin"  width="100%" height="445px" frameborder="0" style="border:1px; margin-bottom:5%;" ; allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>Binghamton, New York</h5>
									<p>
										4343 Hinkle Deegan Lake Road
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>00 (958) 9865 562</h5>
									<p>Mon to Fri 9am to 6 pm</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>support@colorlib.com</h5>
									<p>Send us your query anytime!</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
              <form action="{% url 'contact'%}" method="post">
                <div class="row">
                  <div class="col-lg-6">
                  {% csrf_token %}
                    <!-- <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name"> -->
                    <input name="message-name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                  </div>
                  <div class="col-lg-6">
                    <!-- <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email"> -->
                    <input name="message-email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                    <!-- <textarea class="common-textarea form-control" name="message" placeholder="Enter Your Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Messege'" required=""></textarea>	 -->
                  </div>
                  <div class="col-12">
                    <!-- <button type="submit" class="btn dento-btn">Send Message</button> -->
                    <button type = 'submit' class="genric-btn primary circle" style="float: right;">Send Message</button>
                  </div>
                </div>
              </form>
							<!-- <form class="form-area " id="myForm" action="{% url 'contact'%}" method="post" class="contact-form text-right">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>				
									</div>
									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
                    <button type = 'submit' class="genric-btn primary circle" style="float: right;">Send Message</button>
									</div>
								</div>
							</form>	 -->
						</div>
					</div>
				</div>	
      </section>
    {% endif %}
			<!-- End contact-page Area -->

{% endblock %}